
.Navbar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 255, 175);
}

li, a{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px ;
    color: black;
    text-decoration: none;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.Navbar{
    list-style: none;
}

.Navbar li {
    display: inline-block;
    padding: 0px 20px;
}
